<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Thêm sách mới</title>
</head>

<body>

    <h1>Thêm sách mới</h1>

    <form th:action="@{/books/add}" th:object="${book}" method="post">

        <label for="title">Tiêu đề</label><br>
        <input type="text" id="title" th:field="*{title}" required>
        <br><br>

        <label for="author">Tác giả</label><br>
        <input type="text" id="author" th:field="*{author}" required>
        <br><br>

        <button type="submit">Thêm</button>
    </form>

    <br>
    <a th:href="@{/books}"> Quay lại</a>

</body>

</html>